.chart {
	position: relative;
	display: inline-block;
	margin: 1%;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percent {
	display: inline-block;
	width: 300;
	z-index: 2;
}

.percent img {
	margin-top: 28%;
	width: 40%;
	height: auto;
}