<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.outbreakMapper">
	<insert id="insertOutbreak" parameterType="OutbreakVO">
		INSERT INTO outbreak(userID, outbreakDate, outbreakTime, type, bodyPart)
		VALUES(#{userID}, #{outbreakDate}, #{outbreakTime}, #{type}, #{bodyPart})
	</insert>
	
	<select id="getOutbreakListWithMonth" parameterType="Map" resultType="OutbreakWithMedicineVO">
		<![CDATA[
			SELECT o.userID, outbreakDate, outbreakTime, medicineTime, type, bodyPart, medicine, 
				IF(TIMESTAMPDIFF(MINUTE, o.outbreakTime, m.medicineTime) < 0, '', 
					IF(TIMESTAMPDIFF(MINUTE, o.outbreakTime, m.medicineTime) > 60, CONCAT(TIMESTAMPDIFF(HOUR, o.outbreakTime, m.medicineTime),'시간 후 약 복용'), 
						CONCAT(TIMESTAMPDIFF(MINUTE, o.outbreakTime, m.medicineTime),'분 후 약 복용'))) AS medicineInfo
			FROM outbreak o LEFT JOIN medication m ON(o.userID = m.userID AND o.outbreakDate = m.medicineDate)
			WHERE o.userID=#{userID} AND outbreakDate BETWEEN #{startDate} AND LAST_DAY(#{startDate})
			ORDER BY outbreakDate, outbreakTime, medicineTime
		]]>
	</select>
	
	<insert id="insertMedicine" parameterType="MedicineVO">
		INSERT INTO medication(userID, medicine, medicineDate, medicineTime)
		VALUES(#{userID}, #{medicine}, #{medicineDate}, #{medicineTime})
	</insert>
	
	<select id="getOutbreakReports" parameterType="String" resultType="OutbreakReportVO">
		SELECT DATE_FORMAT(outbreakDate, '%Y년 %m월') AS 'outbreakMonth', COUNT(*) AS 'outbreakCount' FROM outbreak 
		WHERE userID=#{userID} AND outbreakDate BETWEEN DATE_ADD(now(), INTERVAL-6 MONTH) AND NOW()
		GROUP BY outbreakMonth
		ORDER BY outbreakMonth
	</select>
	
	<select id="getMaxType" parameterType="String" resultType="OutbreakReportVO">
		SELECT type, COUNT(*) AS typeCount
		FROM outbreak
		WHERE userID=#{userID} AND outbreakDate BETWEEN DATE_ADD(now(), INTERVAL-6 MONTH) AND NOW()
		GROUP BY type
		ORDER BY typeCount DESC
		LIMIT 1
	</select>
	
	<select id="outbreaksCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM outbreak
		WHERE userID=#{userID} AND outbreakDate BETWEEN DATE_ADD(now(), INTERVAL-6 MONTH) AND NOW()
	</select>
	
	<select id="medicineCount" parameterType="String" resultType="OutbreakReportVO">
		SELECT medicine, count(*) AS medicineCount
		FROM medication
		WHERE userID=#{userID} AND medicineDate BETWEEN DATE_ADD(now(), INTERVAL-6 MONTH) AND NOW()
		GROUP BY medicine
		ORDER BY medicineCount DESC LIMIT 1;
	</select>
</mapper>